<!DOCTYPE html>
<html lang="en" ng-app="ReadingFun">
    
<body ng-controller="ReviewController">
    <div class="container-fluid">
        <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h2>Review Details</h2>
                <div class="row">
                    <div class="col-lg-10">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                Book Name: <a href="#/book/{{reviewModel.review.isbn}}" id="title">{{reviewModel.book.title}}</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-10">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                ISBN: {{reviewModel.review.isbn}}
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-10">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                Reviewer: <a href="" ng-click="reviewModel.redirect()">{{reviewModel.review.username}}</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-10">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                Rating: 
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-10">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                Time: {{reviewModel.review.date | date:'MM-dd-yyyy'}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-10">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                Content: 
                                <p>{{reviewModel.review.content}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>

</body>

</html>