<!DOCTYPE html>
<html lang="en" ng-app="ReadingFun">
    
<body>
    <div class="container-fluid">
        <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 review-table">
                <div><img src="" style="float: right;"></div>
                <h2 class="page-header">Review Details</h2>
                <div class="row">
                    <div class="col-lg-10">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                Book Name: <a href="">A Tale of Two Cities</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-10">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                Reviewer: <a href="">John Smith</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-10">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                Rating: 
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-10">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                Time: Oct 04, 2015
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-10">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                Content: 
                                <p>“It is a far, far better thing that I do, than I have ever done; it is a far, far better rest that I go to than I have ever known.” 

    The story is broken up into 3 books. The first book was short. The second (and longest) book started to get tedious, but then it began to pick up in the 2nd half of that book. The final book was just fantastic. It takes some time to get into but once you get there, you are really there. You can see and feel the poverty and desperation of the French peasants, can feel their rage and smell the blood running freely in the street from Madame La Guillotine. A brutal and insightful look at the French Revolution with all its heroes and villians and a clever twist at the end which draws all the main protagonists together. The unjust imprisonment of Charles Darnay is offset by the ironic justice dealt out to Madame DeFarge in the end. And Sydney Carton is probably one of the most beautiful characters in all of literature in my opinion.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>

</body>

</html>