<!DOCTYPE html>
<html lang="en" ng-app="ReadingFun">
    <body ng-controller="SearchController">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Reading Fun <small>Look for your favourite books!</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-dashboard"></i> Dashboard
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->
            
            <div class="row">
                <label>Search By: </label><br>
                <select ng-model="searchModel.searchType">
                  <option value="title" selected="selected">Title</option>
                  <option value="isbn">ISBN</option>
                  <option value="author">Author</option>
                </select>
            </div>

            <div class="row">
                <br>
            </div>
            
            <div class="row">
                <input type="text" class="col-sm-8" placeholder="Search By Title, Author, ISBN" ng-model="searchModel.searchKey">
                <button ng-click="searchModel.search(searchModel.searchType, searchModel.searchKey)">Search</button>
            </div>
            <!-- /.row -->
            
            <div class="row">
                <br>
            </div>
            
            <div class="row">
                <h3>Search Results</h3>
                <label ng-if="searchModel.resultCount == 0">No results.</label>
                <label ng-if="searchModel.resultCount != 0">{{resultCount}} results found, display the top 100 results.</label>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Title</th>
                            <th>Author</th>
                            <th>ISBN</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="book in searchModel.books">
                            <td>{{$index}}</td>
                            <td><a href="#/book/{{book.isbn[0]}}" ng-click="searchModel.saveBook($index)">{{book.title}}</a></td>
                            <td>
                                <div ng-repeat="author in book.author_name">
                                    {{author + " "}}
                                </div>
                            </td>
                            <td>{{book.isbn[0]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
    </body>

</html>