<!DOCTYPE html>
<html lang="en" ng-app="ReadingFun">

<body ng-controller="LoginController">
   <div class="container-fluid">
        <h1 class="registration-label header">Log In</h1>
        <form class="form-horizontal registration-form">
          <div class="form-group">
            <label for="username" class="col-sm-2 control-label registration-label">Username</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputUsername" placeholder="Username" ng-model="loginModel.username">
            </div>
          </div>

          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label registration-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword3" placeholder="Password" ng-model="loginModel.password">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default" ng-click="loginModel.login()">Log In</button>
            </div>
          </div>
        </form>

        <label><a href="#/retrieve" class="retrieve-password">Forget your password?</a></label>
    </div>

</body>

</html>