.field-control {
    float: right;
}

.field-table {
    margin: 10px;
}

#form-fields {
    padding: 10px;
    position: relative;
}

.field-addnew {
    position: relative;
    bottom: 0;
}

#sort1 {
    float: left;
}

#sort2 {
    float: left;
}