<!DOCTYPE html>
<html lang="en" ng-app="FormBuilderApp">
    <div class="row" ng-controller="SidebarController">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li ng-class="{'active' : $location.url() == '/home'}"><a href="#/home">Home<span class="sr-only">(current)</span></a></li>
            <li ng-class="{'active' : $location.url() == '/profile'}"><a href="#/profile">Profile</a></li>
            <li ng-class="{'active' : $location.url() == '/admin'}"><a href="#/admin">Admin</a></li>
            <li ng-class="{'active' : $location.url() == '/form' || $location.url() == '/user'}"><a href="#/form">Forms</a></li>
          </ul>
        </div>
      </div>
</html>