<!DOCTYPE html>
<html lang="en" ng-app="ReadingFun">
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">
                        {{bookModel.book.title}}
                    </h2>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="#/home">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-file"></i> Book Details
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->
            <div><img src="{{bookModel.coverUrl}}" style="float: right;"></div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            Book Title: {{bookModel.book.title}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            ISBN:  {{bookModel.book.isbn}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            Author: {{bookModel.book.author}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            First Pulish Year: {{bookModel.book.publishYear}}
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            Publish Places: 
                            <i ng-repeat="place in bookModel.book.publishPlace">
                                {{place}}
                            </i>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            Subjects: 
                            <i ng-repeat="sub in bookModel.book.subject">
                                {{sub}}
                            </i>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            Publishers: 
                            <i ng-repeat="data in bookModel.book.publisher">
                                {{data}}
                            </i>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            Language: 
                            <i ng-repeat="data in bookModel.book.language">
                                {{data}}
                            </i>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-6">
                    <h3>Buy this book!</h3><br>
                    <label>Quantity: </label><input type="number" ng-model="bookModel.quantity"/><br><br>
                    <button type="button" class="btn btn-primary btn-lg" ng-click="bookModel.createOrder()">Purchase</button>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-6">
                    <h3>Post a reviews on this book!</h3>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-6">
                    <label>Commet: </label><br>
                    <textarea ng-model="bookModel.content" class="form-control" rows="5"></textarea>
                    <br>
                    <label>Ratings: </label>
                    <select ng-model="bookModel.rating">
                      <option value="1">Worst</option>
                      <option value="2">Bad</option>
                      <option value="3">Mediocre</option>
                      <option value="4">Good</option>
                      <option value="5">Excellent</option>
                    </select>
                    <br>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-6">
                    <button class="btn btn-primary" ng-click="bookModel.postReview()">submit</button>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-6">
                    <h3>Reviews:</h3>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-6">
                    <label>{{bookModel.reviews.length}} reviews on this book</label>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Reviewer</th>
                                    <th>Rating</th>
                                    <th>Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="review in bookModel.reviews">
                                    <td>{{$index}}</td>
                                    <td><a href="" ng-click="bookModel.redirect($index, 'user')">{{review.username}}</a></td>
                                    <td>{{review.rating}}</td>
                                    <td><a href="" ng-click="bookModel.redirect($index, 'review')">Click here</a></td>
                                </tr>
                            </tbody>
                </table>
            </div>
            
        </div>
            <!-- /.container-fluid -->
    </body>
</html>