<!DOCTYPE html>
<html lang="en" ng-app="ReadingFun">

<body ng-controller="ProfileController">
    <div class="container-fluid">
        <h1 class="registration-label para-header">User Profile</h1>
        <form class="form-horizontal profile-form">
          <div class="form-group">
            <label for="username" class="col-sm-2 control-label registration-label">Username</label>
            <div class="col-sm-10">
              <label>{{profileModel.user.username}}</label>
            </div>
          </div>

          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label registration-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword3" placeholder="{{profileModel.user.password}}" ng-model="profileModel.password">
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label registration-label">First Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="FirstName" placeholder="{{profileModel.user.firstName}}" ng-model="profileModel.firstName">
            </div>
          </div>

            <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label registration-label">Last Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="LastName" placeholder="{{profileModel.user.lastName}}" ng-model="profileModel.lastName">
            </div>
          </div>

            <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label registration-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail3" placeholder="{{profileModel.user.email}}" ng-model="profileModel.email">
            </div>
          </div>

            <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label registration-label">Date of Birth</label>
            <div class="col-sm-10">
              <input type="date" class="form-control" id="DoB" ng-model="profileModel.dob">
            </div>
          </div>

            <div class="form-group">
            <label for="Address" class="col-sm-2 control-label registration-label">Address</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="Address" placeholder="{{profileModel.user.address}}" ng-model="profileModel.address">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default" ng-click="profileModel.update()">Update</button>
            </div>
          </div>
            
            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-10">
                    <h2 class="header2">My Friends</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>UserName</th>
                                    <th>Status</th>
                                    <th>Reviews</th>
                                    <th>Last Login</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a>User1111</a></td>
                                    <td>Online</td>
                                    <td>7</td>
                                    <td>Oct 10, 2016</td>
                                </tr>
                                <tr>
                                    <td><a>User1011</a></td>
                                    <td>Busy</td>
                                    <td>11</td>
                                    <td>Oct 08, 2016</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            
            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-10">
                    <h2 class="header2">My Orders</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Book Title</th>
                                    <th>Price</th>
                                    <th>Date</th>
                                    <th>Seller</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="/client/order/order_detail.view.html">1</a></td>
                                    <td><a href="/client/book/book_details.view.html">Operating System</a></td>
                                    <td>65.0</td>
                                    <td>Aug 15, 2016</td>
                                    <td><a>Ubooks</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/client/order/order_detail.view.html">2</a></td>
                                    <td><a>Cracking the Coding Interview</a></td>
                                    <td>45.0</td>
                                    <td>Sep 19, 2016</td>
                                    <td><a>Ubooks</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            
            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-10">
                    <h2 class="header2">My Reviews</h2>
                    <div class="table-responsive">
                        <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Book Title</th>
                                <th>Rating</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a>1</a></td>
                                <td><a>The Red and the Black</a></td>
                                <td><span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span></td>
                                <td>May 24, 2016</td>
                            </tr>
                            <tr>
                                <td><a>2</a></td>
                                <td><a>Gift of Magi</a></td>
                                <td><span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span></td>
                                <td>July 22, 2016</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>

            </div>
        </form>
        
        
    </div>
    <!-- /.container-fluid -->
</body>

</html>