<!DOCTYPE html>
<html lang="en" ng-app="ReadingFun">

<body>
     <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 review-table">
                    <h2 class="header2">My Orders</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Book Title</th>
                                    <th>Price</th>
                                    <th>Date</th>
                                    <th>Seller</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="/client/order/order_detail.view.html">1</a></td>
                                    <td><a href="/client/book/book_details.view.html">Operating System</a></td>
                                    <td>65.0</td>
                                    <td>Aug 15, 2016</td>
                                    <td><a>Ubooks</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/client/order/order_detail.view.html">2</a></td>
                                    <td><a>Cracking the Coding Interview</a></td>
                                    <td>45.0</td>
                                    <td>Sep 19, 2016</td>
                                    <td><a>Ubooks</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</body>

</html>