<!DOCTYPE html>
<html lang="en" ng-app="ReadingFun">

<body>
     <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 review-table">
                    <h2 class="header2">My Friends</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>UserName</th>
                                    <th>Status</th>
                                    <th>Reviews</th>
                                    <th>Last Login</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a>User1111</a></td>
                                    <td>Online</td>
                                    <td>7</td>
                                    <td>Oct 10, 2016</td>
                                </tr>
                                <tr>
                                    <td><a>User1011</a></td>
                                    <td>Busy</td>
                                    <td>11</td>
                                    <td>Oct 08, 2016</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
            </div>
            <!-- /.container-fluid -->

</body>

</html>