<!DOCTYPE html>
<html lang="en" ng-app="ReadingFun">
    <body ng-controller="AdminController">
         <div class="container-fluid">
            <div class="row">
                <div class="col-lg-10 review-table">
                    <h2 class="header2">Administrator</h2>
                    <label style="margin: 10px;">Normal user cannot access this page</label>
                    <ul class="nav nav-pills">
                      <li role="presentation"><a href="#/admin/user">Manage Users</a></li>
                      <li role="presentation" class="active"><a href="#/admin/review">Edit Reviews</a></li>
                        <li role="presentation"><a href="#/admin/book">Manage Local Books</a></li>
                    </ul>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Book ISBN</th>
                                    <th>Post Date</th>
                                    <th>Reviewer</th>
                                    <th>Detail</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="review in adminModel.reviews">
                                    <td>{{review.isbn}}</td>
                                    <td>{{review.date}}</td>
                                    <td>{{review.username}}</td>
                                    <td><a href="" ng-click="adminModel.redirect($index, 'review')">Click here</a></td>
                                    <td>
                                        <button class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></button>
                                        <button class="btn btn-danger" ng-click="adminModel.deleteReview($index)"><span class="glyphicon glyphicon-trash"></span></button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <!-- /.container-fluid -->
    </body>
</html>