<!DOCTYPE html>
<html lang="en" ng-app="ReadingFun">
    <body ng-controller="HomeController">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Reading Fun <small>Look for your favourite books!</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-dashboard"></i> Dashboard
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            <div class="row">
                <h3>There are registered users on our website!</h3>
                <h3>They have posted reviews on our website!</h3>
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-12">
                    <h2>See What People are reading...</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Book Title</th>
                                    <th>Author</th>
                                    <th>Publish Date</th>
                                    <th>Rating</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a>Book1</a></td>
                                    <td>Adam</td>
                                    <td>Aug 3, 2016</td>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td><a>Book1</a></td>
                                    <td>Adam</td>
                                    <td>Aug 3, 2016</td>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td><a>Book1</a></td>
                                    <td>Adam</td>
                                    <td>Aug 3, 2016</td>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td><a>Book1</a></td>
                                    <td>Adam</td>
                                    <td>Aug 3, 2016</td>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td><a>Book1</a></td>
                                    <td>Adam</td>
                                    <td>Aug 3, 2016</td>
                                    <td>4</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
    </body>

</html>