<!DOCTYPE html>
<html lang="en" ng-app="ReadingFun">

<body>
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Top Rated Books
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="/client/index.html">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-bar-chart-o"></i> Top rated
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Morris Charts -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Book Charts</h2>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Ratings</h3>
                    </div>
                    <div class="panel-body">
                        <div id="morris-area-chart"></div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- /.container-fluid -->

</body>

</html>
