<!DOCTYPE html>
<html lang="en" ng-app="FormBuilderApp">

    <div class="container-fluid" ng-controller="FieldController">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2>Forms</h2>
            <ul class="nav nav-pills">
              <li role="presentation"><a href="#/form">Forms</a></li>
              <li role="presentation" ng-class="{'active' : fieldModel.$location.url() == '/user'}"><a href="#/user">Fields</a></li>
            </ul>
            <br>
            
            <form class="form-horizontal" id="form-fields">
                <div class="form-group field-addnew">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Label</th>
                            <th>Type</th>
                            <th>Input</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="field in fieldModel.fields">
                            <td>{{field.label}}</td>
                            <td>{{field.type}}</td>
                            <td ng-switch on="field.type">
                                <div ng-switch-when="TEXT">
                                    <input type="text" placeholder="{{field.placeholder}}">
                                </div>
                                <div ng-switch-when="TEXTAREA">
                                    <input type="text" placeholder="{{field.placeholder}}">
                                </div>
                                <div ng-switch-when="DATE">
                                    <input type="date">
                                </div>
                                <div ng-switch-when="OPTIONS">
                                    <select>
                                        <option ng-repeat="option in field.options">{{option.value}}</option>
                                    </select>
                                </div>
                                <div ng-switch-when="CHECKBOXES">
                                    <div ng-repeat="option in field.options">
                                        <input type="checkbox">{{option.value}}
                                    </div>
                                </div>
                                <div ng-switch-when="RADIOS">
                                    <div ng-repeat="option in field.options">
                                        <input type="radio">{{option.value}}
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-align-justify"></span>
                                </button>
                                <button type="button" class="btn btn-default" ng-click="fieldModel.removeField($index)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
                
            <div class="form-group field-addnew">
                <div class="col-sm-10">Add New Field:</div>
                <div class="col-sm-10">
                    <select ng-model="fieldType">
                        <option>Single Line Text</option>
                        <option>Multi Line Text</option>
                        <option>Date</option>
                        <option>Dropdown</option>
                        <option>Checkboxes</option>
                        <option>Radio Buttons</option>
                    </select>
                    <button type="button" class="btn btn-default field-control" aria-label="Right Align" ng-click="fieldModel.addField(fieldType)">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>    
            </form>
        </div>
      </div>
    </div>
      
</html>