<!DOCTYPE html>
<html lang="en" ng-app="ReadingFun">
    <body ng-controller="OrderController">
        <div class="container-fluid">
                <div class="container-fluid">
                    <div><img src="" style="float: right;"></div>
                    <h2 class="page-header">Purchase Order Details</h2>
                    
                    <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                Book Purchased: {{orderModel.order.bookTitle}}
                            </div>
                        </div>
                    </div>
                </div>
                        
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    Purchase Date : {{orderModel.order.date | date : 'MM-dd-yyyy'}}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    Price: {{orderModel.order.price}}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    Quatity: {{orderModel.order.quantity}}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    Seller: <a>N/A</a>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </body>
    
</html>