<!DOCTYPE html>
<html lang="en" ng-app="ReadingFun">

    <body>
        <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Book by Genres
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="/client/index.html">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> Genres
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-6">
                        <h2>Genre1</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Book Title</th>
                                        <th>Author</th>
                                        <th>Publish Date</th>
                                        <th>Rating</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a>Book1</a></td>
                                        <td>Adam</td>
                                        <td>Aug 3, 2016</td>
                                        <td>4</td>
                                    </tr>
                                    <tr>
                                        <td><a>Book1</a></td>
                                        <td>Adam</td>
                                        <td>Aug 3, 2016</td>
                                        <td>4</td>
                                    </tr>
                                    <tr>
                                        <td><a>Book1</a></td>
                                        <td>Adam</td>
                                        <td>Aug 3, 2016</td>
                                        <td>4</td>
                                    </tr>
                                    <tr>
                                        <td><a>Book1</a></td>
                                        <td>Adam</td>
                                        <td>Aug 3, 2016</td>
                                        <td>4</td>
                                    </tr>
                                    <tr>
                                        <td><a>Book1</a></td>
                                        <td>Adam</td>
                                        <td>Aug 3, 2016</td>
                                        <td>4</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h2>Genre2</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Book Title</th>
                                        <th>Author</th>
                                        <th>Publish Date</th>
                                        <th>Rating</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a>Book1</a></td>
                                        <td>Adam</td>
                                        <td>Aug 3, 2016</td>
                                        <td>4</td>
                                    </tr>
                                    <tr>
                                        <td><a>Book1</a></td>
                                        <td>Adam</td>
                                        <td>Aug 3, 2016</td>
                                        <td>4</td>
                                    </tr>
                                    <tr>
                                        <td><a>Book1</a></td>
                                        <td>Adam</td>
                                        <td>Aug 3, 2016</td>
                                        <td>4</td>
                                    </tr>
                                    <tr>
                                        <td><a>Book1</a></td>
                                        <td>Adam</td>
                                        <td>Aug 3, 2016</td>
                                        <td>4</td>
                                    </tr>
                                    <tr>
                                        <td><a>Book1</a></td>
                                        <td>Adam</td>
                                        <td>Aug 3, 2016</td>
                                        <td>4</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->
    </body>

</html>
